  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="teal">
        <div class="nav-wrapper">
          <a id="logo-container" routerLink="/main" class="brand-logo">
            <i class="material-icons">local_hospital</i>Medication</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a routerLink="/main">Home</a>
            </li>
            <li>
              <a routerLink="/profile">Service </a>
            </li>
            <li>
              <a routerLink="/blog">Blog</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
            <li>
              <a routerLink="/login" class="white black-text waves-effect waves-light btn"
                >Sign IN
              </a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <li>
      <a routerLink="/main">Home</a>
    </li>
    <li>
      <a routerLink="/profile">Service </a>
    </li>
    <li>
      <a routerLink="/blog">Blog</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li>
      <a routerLink="/login" class="white black-text waves-effect waves-light btn"
        >Sign IN</a
      >
    </li>
  </ul>