<!-- Nav Bar -->
<div class="navbar-fixed">
    <nav class="black lighten-1" role="navigation">
      <div class="nav-wrapper">
        <a id="logo-container" routerLink="/main" class="brand-logo logo">
          <i class="material-icons">local_hospital</i> Medication System</a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#service">Service </a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>
            <a routerLink="/login" class="white black-text waves-effect waves-light btn"
              >Sign IN</a
            >
          </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#home">Home</a></li>
          <li><a href="#service">Service </a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>
  </div>