    <div class="container">
      <div class="row">
        <form class="col s12"
              [formGroup]="form"
              (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" 
                       formControlName="username" 
                       [ngClass]="{'invalid': form.get('username').invalid && form.get('username').touched}" >
                <label for="icon_prefix">Login</label>
                <span
                class="helper-text red-text"
                *ngIf="form.get('username').invalid && form.get('username').touched">
                <span *ngIf="form.get('username').errors['required']">Empty login</span>
            </span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" 
                       formControlName="password"  
                       [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
                <label for="icon_email">Password</label>
                <span
                  class="helper-text red-text"
                  *ngIf="form.get('password').invalid && form.get('password').touched">
                  <span *ngIf="form.get('password').errors['required']">Empty login</span>
              </span>
              </div>
            </div>
            <div class="row">
              <button type="submit" 
                      value="Submit" 
                      class="black btn waves-effect waves-light col s2 offset-s5"
                      [disabled]="form.invalid || form.disabled"
              >Started</button>
            </div>      
            <div class="row center">
              <a routerLink="/register" class="col s2 offset-s5">or Register</a>
            </div>     
          </form>
    </div>
</div>
